.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 42px 0;
}

header nav a.active {
  font-weight: 700;
  color: #022a1e;
}

header nav a:hover {
  font-weight: 700;
  color: #022a1e;
}

.container-header .left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container-header .left span {
  color: #323232;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.78px;
}
.button {
  display: flex;
  gap: 8px;
}
.button .btn {
  display: inline-flex;
  height: 56px;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--Color, #fff);
  color: #000;
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
}
/* .button .btn:hover {
  border: 1px #6500ff solid;
} */
.button .bon {
  display: flex;
  width: 142px;
  height: 56px;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--Primary, #fc0);
  color: var(--Text-primary, #333132);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
}

/* .isActive {
  color: #022a1e !important;
  font-size: 2rem;
  font-weight: 700 !important;
} */

.menuNav {
  display: flex;
  align-items: center;
  gap: 109px;
}

.menuNav nav {
  display: flex;
  gap: 24px;
}
.menuNav a {
  color: #323232;
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
}

.vvv {
  display: none;
}

@media screen and (max-width: 1280px) {
  .container-header {
    gap: 170px;
  }
  .menuNav {
    gap: 50px;
  }
}
@media screen and (max-width: 1114px) {
  .container-header {
    gap: 40px;
  }
  .menuNav {
    gap: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .container-header {
    gap: 10px;
  }
  .menuNav {
    gap: 5px;
  }
  .menuNav nav {
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 960px) {
  /* .container-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */
  /* /* .container-header .left {
    padding-bottom: 2.39rem;
  } */

  .menuNav {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: flex-start;
  }
  .menuNav nav {
    display: flex;
    flex-direction: column;
    gap: 1.88rem;
    align-items: flex-start;
  }
  .vvv {
    display: block;
    font-size: 1.3em;
    background: transparent;
    color: #000;
    position: absolute;
    top: 3%;
    left: 90%;
  }
  .nav-btn {
    font-size: 1.3rem;
    background: transparent;
    color: #000;
  }
  .menuNav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 20;
    /* background: #fffcea; */
    height: 100vh;
  }

  .menuNav.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
  .ccc {
    margin-top: 2.88rem;
  }
  .container-header {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 960px) {
  .mobile-menus .nav-btn {
    visibility: visible;
    opacity: 1;
    font-size: 1.3em;
    background: transparent;
    color: #000;
  }

  .container-header .button {
    display: none;
  }

  .mobile-menus nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    transform: translateY(-100vh);
    gap: 2rem;
    background: #f2f7f7;
    z-index: 20;
    font-size: 1.3rem;
  }
  .mobile-menus .responsive_nav {
    transform: none;
  }
  .mobile-menus .nav-close-btn {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 2rem;
    right: 2rem;
    color: #000;
    font-size: 1.3em;
    background: transparent;
  }
  header nav a:hover {
    font-size: 1.06rem;
  }
}
