.cores {
  background: #f7eeea;
  padding: 114px 0;
}

.cores h1 {
  color: var(--Text-primary, #333132);
  font-size: 54px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -2px;
  padding-bottom: 59px;
  text-align: center;
}

.cores .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 18px;
}

.cores h3 {
  color: var(--Light-Gray-900, #212327);
  font-family: Inter Tight;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  padding-top: 26px;
}
