.dolas {
  display: flex;
  justify-content: space-between;
  gap: 61px;
  background-image: url(/dolaniBg.svg);
  width: 100%;
  height: 100%;
  /* background-size: cover; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.container-dolani img {
  /* width: 100%; */
  width: 416px;
  /* height: 404.538px; */
}
.dL {
  padding-left: 80px;
  padding-bottom: 97px;
}
.dR {
  padding-right: 80px;
  padding-top: 150px;
}
.container-dolani h6 {
  padding-top: 97px;
  color: var(--Light-Gray-900, #212327);
  font-family: Inter Tight;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  padding-bottom: 10px;
}
.container-dolani h1 {
  color: var(--Light-Gray-900, #212327);
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -2px;
  padding-bottom: 19px;
}
.container-dolani p {
  color: var(--Light-Gray-900, #212327);
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
}

@media screen and (max-width: 768px) {
  .container-dolani img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .container-dolani h6 {
    padding-top: 10px;
  }

  .dR {
    width: 95%;
    margin: 0 auto;
    padding-right: 0;
    padding-top: 0;
  }

  .dL {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 0;
  }
}
