.psy .P img {
  /* width: 100%; */
  width: 769.737px;
  /* height: 532px; */
}
.psy {
  background: rgba(255, 205, 50, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.psy h1 {
  color: var(--Text-primary, #333132);
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -2px;
  padding-top: 84px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.psy p {
  color: var(--Text-primary, #333132);
  text-align: center;
  font-family: Inter Tight;
  font-size: 18px;
  font-weight: 400;
  padding-top: 24px;
}
.psyBg {
  background-image: url(/psychBg.png);
  width: 100%;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
}
