.Psych {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffcd3233 url('../../public/psychBg.png') bottom center no-repeat;
}

.Psych h1 {
  color: #333132;
  font-size: 64px;
  letter-spacing: -2px;
  padding-top: 84px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.4;
}
.psy p {
  color: #333132;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-top: 24px;
}
