.testi {
  background: #fff6ee;
  padding: 71px 0;
}
.testi h1 {
  color: var(--Text-primary, #333132);
  font-size: 54px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -2px;
  text-align: center;
  padding-bottom: 19px;
}
.testi p {
  color: var(--Light-Gray-900, #212327);
  text-align: center;
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 400;
  line-height: 31.2px;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 14px;
}
.testi h6 {
  color: var(--Light-Gray-800, #333843);
  font-family: Inter Tight;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
